/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Variáveis de CSS */
:root{
    --cor1: #000;
    --cor2: #fff;
    --cor3: #930912;
}

/* Body */
body{
    background-color: #222;
}

/* Cabeçalho */
.cabecalho{
    background-color: var(--cor1);
    padding: 0 60px;
    border-bottom: 0.5px solid #cacaca;
}

/* Menu */
.menu-principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-logo{
    display: flex;
    align-items: center;
}
.btn-logo > div{
    margin: 0 10px;
}
.btn-menu{
    border-left: 0.5px solid #cacaca;
    border-right: 0.5px solid #cacaca;
}
.btn-menu > button{
    background-color: transparent;
    border: none;
    padding: 13px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.btn-menu > button:hover, .btn-registro > button:hover{
    background-color: #d8101d;
}
.btn-menu > button i{
    color: var(--cor2);
    font-size: 1.5em;
}
.btn-registro{
    display: block;
}
.btn-registro > button, .btn-registro-mobile > button{
    background-color: var(--cor3);
    border: none;
    padding: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 500ms ease-in-out; 
}
.btn-registro > button, .btn-registro-mobile > button{
    color: var(--cor2);
    font-size: 1em;
}

/* Menu mobile */
.menu-mobile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--cor1);
    opacity: 0;
    position: absolute;
    left: -2000px;
    width: 100%;
    transition: all 500ms ease-in-out;
}
.menu-mobile > div, .menu-mobile > li{
    margin: 15px 0;
}
.logo-grande > img{
    width: 100%;
}
.linha{
    border: .5px solid #ccc;
}
.menu-mobile > li{
    margin: 10px 0;
    padding: 10px 0;
}
.menu-mobile > li a{
    color: var(--cor2);
    font-weight: 100;
    font-size: 1.6em;
}
.menu-mobile > li a::before{
    content: '-';
    margin: 0 3px;
    font-weight: bold;
    color: #d8101d;
}
.abrir-menu{
    opacity: 1;
    left: 0;
}
.idioma h3, .x-musk h3, .sobre-site h3{
    color: var(--cor2);
    font-size: 1.8em;
}
.idioma > div, .x-musk > div, .sobre-site > div{
    background-color: transparent;
    border: 1px solid #ccc;
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.idioma > div a, .x-musk > div a, .sobre-site > div a, .idioma > div i, .x-musk > div i, .sobre-site > div i{
    margin-left: 4px;
    color: var(--cor2);
    font-size: 1em;
}

/* Seções */
section{
    padding: 0 60px;
}

/* Banner */
.banner{
    background: url(../img/bg_re.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Faixa dos controles */
.faixa-controles{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor1);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.controles{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controles > button{
    padding: 40px;
    width: 40%;
    background-color: transparent;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #cacaca;
    font-size: 2em;
    font-weight: 100;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}
.controles > button:hover{
    background-color: #d8101d;
}

/* Dispositivos */
/* Mobile */
@media (min-width: 320px) and (max-width: 768px){
    .menu-mobile{
        display: block;
    }
}
@media (min-width: 320px) and (max-width: 480px){
    /* Botão de registre-se */
    .btn-registro{
        display: none;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px){
    /* Botão de registre-se */

}
